body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#ad-container {
    margin-top: 20px;
    text-align: center;
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px; /* Minimum 10px from the top */
}


label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe-box {
    box-sizing: border-box;
    
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.coloms {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(99, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.recipe-box img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.recipe-box a {
    display: inline-block;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

